/* Código novo */

/* Style for options */
#configSelect, #configSelect option {
    font-size: 1.2rem;
}

/* Hover effect for options */
#configSelect option:hover {
    background-color: #28a745;  /* Change background color on hover */
    color: white;               /* Change text color on hover */
}

